<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-body-text">
	<div class="palm-header">Settings</div>
	<div class="palm-header-spacer"></div>
</div>
<div class="title" style="text-align: center; font-weight: bold; font-size: 17px;">Month Toggle</div>
<div x-mojo-element="RadioButton" id="monthToggle"></div>
<div class="title" style="text-align: center; font-weight: bold; font-size: 17px;">Year Toggle</div>
<div x-mojo-element="RadioButton" id="yearToggle" style="width: 200px;"></div>
<div class="palm-group" style="text-align: center; height: 30px;">
	<div class="palm-group-title">Switcher</div>
	<div style="margin: 0 0 0 45px;">
		<div x-mojo-element="ListSelector" id="slot_a" style="float: left; width: 55px;" name="a_name" x-mojo-focus-highlight=true></div><div class="myslash">/</div>
		<div x-mojo-element="ListSelector" id="slot_b" style="float: left; width: 55px;" name="b_name" x-mojo-focus-highlight=true></div><div class="myslash">/</div>
		<div x-mojo-element="ListSelector" id="slot_c" style="float: left; width: 55px;" name="c_name" x-mojo-focus-highlight=true></div>
	</div>
</div>
<div class="palm-group" style="text-align: center; height: 30px;">
	<div class="palm-group-title">Divider</div>
	<div x-mojo-element="ListSelector" id="charToggle" name="divvy" x-mojo-focus-highlight=true></div>
</div>	